<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="title=='Détails liste'" defaultHref="home"></ion-back-button>
      <ion-back-button *ngIf="title=='Mot de passe oublié'" defaultHref="login"></ion-back-button>
      <ion-back-button *ngIf="title=='Créer un compte'" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="title!='Créer un compte'" color="secondary" (click)="loginOrOut()">
        <ion-icon slot="icon-only" [name]="user ? 'person-remove-outline' : 'person-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
