<ion-content class="ion-text-center">
  <section class="ion-margin-vertical">
    <ion-button color="dark" expand="block" shape="round" fill="outline" large (click)="withEmail = !withEmail">
      <ion-icon slot="start" name="mail"></ion-icon>
      Avec une adresse email
    </ion-button>
  </section>
  <div *ngIf="withEmail">
    <section class="ion-margin-vertical">
      <form [formGroup]="login" (ngSubmit)="loginForm()">
        <ion-item>
          <ion-label>Adresse email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="login.invalid && login.get('email').touched && login.get('email').errors">
          <small *ngIf="login.get('email').errors.required">Ce champ est requis</small>
          <small *ngIf="login.get('email').errors.email">L'adresse email est invalide</small>
        </div>
        <ion-item>
          <ion-label>Mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="login.invalid && login.get('password').touched && login.get('password').errors">
          <small *ngIf="login.get('password').errors.required">Ce champ est requis</small>
        </div>
        <ion-button color="secondary" expand="block" shape="round" fill="outline" type="submit" large
          [disabled]="login.invalid">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Valider
        </ion-button>
      </form>
    </section>
  </div>

  <section class="ion-margin-vertical">
    <ion-label>Pas encore de compte ?</ion-label>
    <ion-button color="secondary" expand="block" shape="round" fill="outline" type="submit" large
                [routerLink]="['/register']">
      Créer un compte
    </ion-button>
  </section>
</ion-content>