<ion-content class="ion-text-center">
  <ion-title>Identifiez-vous</ion-title>
  <section class="ion-margin-vertical">
    <ion-button color="dark" expand="block" shape="round" fill="outline" large (click)="withEmail = !withEmail">
      <ion-icon slot="end" name="mail"></ion-icon>
      Avec une adresse email
    </ion-button>
  </section>
  <div *ngIf="withEmail">
    <section class="ion-margin-vertical">
      <form [formGroup]="login" (ngSubmit)="loginForm()">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="login.invalid && login.get('email').touched && login.get('email').errors">
          <small *ngIf="login.get('email').errors.required">Le champ est requis</small>
          <small *ngIf="login.get('email').errors.email">Adresse email invalide</small>
        </div>
        <ion-item>
          <ion-label>Mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="text-danger" *ngIf="login.invalid && login.get('password').touched && login.get('password').errors">
          <small *ngIf="login.get('password').errors.required">Le champ est requis</small>
        </div>
        <ion-button color="secondary" expand="block" shape="round" fill="outline" type="submit" large
                    [disabled]="login.invalid" [routerLink]="['/home']">
          <ion-icon slot="end" name="home"></ion-icon>
          Login
        </ion-button>
      </form>
    </section>

    <section class="ion-margin-vertical">
      <ion-label>Pas de compte ?</ion-label>
      <ion-button color="secondary" expand="block" shape="round" fill="outline" type="submit" large
                  [routerLink]="['/register']">
        Créer un compte
      </ion-button>
    </section>
  </div>
</ion-content>
