<ion-header>
  <ion-toolbar>
    <ion-title>Créer un compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Login</ion-label>
    <ion-input inputmode="email" required="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input required="true" type="password"></ion-input>
  </ion-item>
  <ion-button type="submit" (click)="submit()" expand="block" color="success" [routerLink]="['/home']">Valider</ion-button>
</ion-content>
