<ion-header translucent>
  <ion-toolbar>
    <ion-title color="secondary">Ajouter un TODO</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">Fermer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form [formGroup]="newTodoForm" (ngSubmit)="createNewTodo()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" name="name" formControlName="name" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.required">
      <span>
        Ce champ est requis
      </span>
    </ion-text>
    <ion-text color="danger" *ngIf="errorControl.name.touched && errorControl.name.errors?.minlength">
      <span>
        Taille minimum de 2 caractères requise
      </span>
    </ion-text>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="newTodoForm.invalid" type="submit" color="success" expand="block" fill="outline">Valider</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
